@media (max-width: 1440px) {

  .container {
    width: 1290px;
  }

  .menu {
    &__list {
      gap: 30px;
    }
  }

  .kitchen-intro {

    display: flex;
    flex-direction: column;

    &__inner {
      flex-direction: column;
    }

    &__info-description {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }

    &__info-title {
      text-align: center;
      font-size: 64px;
      width: 1050px;
      line-height: 72px;

    }

    &__info-text {
      text-align: center;
      font-size: 24px;
      width: 1070px;
      line-height: 32px;
    }

    &__actions {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;
    }

    &__actions-btn {
      padding: 15px 40px;
    }

    &__stats {
      display: grid;
      grid-template-columns: repeat(2, 0fr);
      grid-gap: 40px;
      padding-bottom: 60px;
      margin: 0 auto;
    }

    &__image-bg {
      width: 1070px;
      height: 700px;
      content: url("src/images/intro-kitchen-1440px.png");
    }

    .stat {

      &__text {
        font-size: 20px;
        line-height: 28px;
        width: 485px;
      }
    }

    &__image-container {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;
    }

    &__image-elips {
      bottom: -50px;
      left: 43%;
      transform: rotate(-45deg);
    }
  }

  .interior {
    margin-bottom: 100px;

    &__inner {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      width: 1290px;
    }

    &__info {
      margin-bottom: 80px;
    }

    &__title {
      font-size: 48px;
      line-height: 60px;
      width: 1068px;
      margin-bottom: 30px;
    }

    &__text {
      width: 1068px;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 50px;
    }

    &__list-points {
      margin-bottom: 60px;
    }

    &__list-item {
      font-size: 20px;
      line-height: 28px;
      width: 485px;
    }

    &__images {
      position: relative;
      width: 1068px;
      height: 1040px;
    }

    &__image {
      display: block;

      &--large {
        position: absolute;
        top: 0;
        right: 0;
        width: 630px;
        height: 680px;
      }

      &--small {
        position: absolute;
        width: 410px;
        height: 320px;
        top: 0;
        left: 990px;
      }

      &--medium {
        position: absolute;
        right: -15px;
        bottom: 20px;
        width: 630px;
        height: 680px;
      }
    }

    &__pattern-points {
      position: absolute;
      bottom: 210px;
      left: 330px;
    }
  }

  .choice {
    padding-bottom: 100px;
    margin-bottom: 100px;

    &__inner {
      display: flex;
      flex-direction: column;
      width: 1070px;
      transform: translateX(8%)
    }

    &__info-text {
      margin-bottom: 60px;
      width: 1070px;
    }

    &__text {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 48px;
      line-height: 60px;
      width: 1070px;
      margin-bottom: 30px;
    }

    &__description {
      font-size: 24px;
      line-height: 32px;
      width: 1070px;
    }

    &__points {
      display: grid;
      grid-template-columns: repeat(2, 0fr);
      grid-gap: 30px;
      width: 1070px;
    }

    &__item {
      margin-bottom: 0;
      width: 520px;
    }

    &__item-title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
    }

    &__item-text {
      font-size: 24px;
      line-height: 32px;
      width: 520px;
    }

    &__item-icon {
      padding-bottom: 20px;
    }

    &__pattern-points {
      display: none;
    }

    &_image {
      display: block;
      width: 1070px;
      height: 700px;
    }

    &__image-main {
      width: 1070px;
      height: 700px;
      content: url("src/images/choice-kitchen-1440px.png");
    }
  }

  .process {
    margin-bottom: 100px;

    &__text {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-bottom: 80px;
    }

    &__title {
      width: 630px;
    }

    &__description {
      width: 630px;
    }

    &__steps {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    &__step {
      padding: 70px 20px 20px;
    }

    &__step-description {
      width: 370px;
    }
  }

  .cabinet-gallery {

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 0fr);
      grid-gap: 30px;
    }

    &__card {
      padding: 20px;
      width: 410px;
    }

    &__card-name {
      padding-top: 20px;
      width: 370px;
    }

    &__image {
      width: 370px;
      height: 270px;
    }
  }

  .accessories {
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 0fr);
      grid-gap: 30px;
    }

    &__card {
      padding: 20px;
      width: 410px;
    }

    &__card-name {
      padding-top: 20px;
      width: 370px;
    }

    &__image {
      width: 370px;
      height: 270px;
    }
  }

  .faq {
    &__line {
      width: 1290px;
    }

    &__question:after {
      right: -20px;
    }
  }

  .footer-top {

    &__company {
      margin-right: 30px;
    }

    &__slogan {
      width: 410px;
    }

    &__contact-link {
      width: 290px;
    }
  }
}

@media (max-width: 1024px) {

  .container {
    width: 920px;
  }

  .header {

    &__inner {
      align-items: center;
    }

    &__logo {
      margin-right: auto;
      padding-left: 30px;
    }
  }

  .menu {
    order: -1;

    &__list {
      transform: translateY(-140%);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 920px;
      margin: 0 auto !important;
      margin-top: 100px !important;
      background-color: $background;
      text-align: center;
      transition: transform .3s ease-in-out;
    }

    .expanded {
      transform: translateY(0%);
    }


    &__close {
      display: block;
    }

    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__close-btn {
      position: absolute;
      top: -108px;
      left: 10px;
    }

    &__list-link {
      font-size: 16px;
      line-height: 24px;
    }

    &__list-item {
      padding-bottom: 20px;
    }
  }

  .kitchen-intro {
    display: flex;
    flex-direction: column;
    padding-left: 52px;
    padding-right: 52px;


    &__inner {
      flex-direction: column;
    }

    &__info-description {
      margin-left: auto;
      margin-right: auto;
    }

    &__info-title {
      text-align: center;
      font-size: 48px;
      width: 680px;
      line-height: 60px;

    }

    &__info-text {
      text-align: center;
      font-size: 20px;
      width: 680px;
      line-height: 28px;
    }

    &__actions {
      margin-right: auto;
      margin-left: auto;
    }

    &__stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      margin-bottom: 60px;
    }


    .stat {

      &__text {
        font-size: 16px;
        line-height: 24px;
        width: 405px;
      }
    }

    &__image-container {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;
    }

    &__image-elips {
      bottom: -50px;
      left: 43%;
      transform: rotate(-45deg);
    }

    &__image-bg {
      width: 920px;
      height: 600px;
      content: url("src/images/intro-kitchen-1024px.png");
    }
  }

  .interior {
    margin-bottom: 60px;

    &__inner {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      width: 920px;
    }

    &__info {
      margin-bottom: 75px;
    }

    &__title {
      font-size: 40px;
      width: 920px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 20px;
      line-height: 28px;
      width: 920px;
      margin-bottom: 60px;
    }

    &__list-points {
      margin-bottom: 60px;
    }

    &__list-item {
      font-size: 16px;
      width: 405px;
    }

    &__images {
      position: relative;
      width: 920px;
      height: 1038px;
    }

    &__image {
      display: block;

      &--large {
        position: absolute;
        top: 0;
        right: 0;
        width: 560px;
        height: 680px;
      }

      &--small {
        position: absolute;
        width: 320px;
        height: 320px;
        top: 0;
        left: 840px;
      }

      &--medium {
        position: absolute;
        right: 0;
        bottom: 20px;
        width: 560px;
        height: 678px;
      }
    }

    &__pattern-points {
      position: absolute;
      bottom: 210px;
      left: 230px;
    }
  }

  .choice {
    padding-bottom: 80px;
    margin-bottom: 80px;

    &__inner {
      display: flex;
      flex-direction: column;
      width: 920px;
      transform: translateX(0%)
    }

    &__info-text {
      width: 920px;
    }

    &__text {
      margin-bottom: 60px;
      width: 920px;
    }

    &__title {
      font-size: 40px;
      line-height: 56px;
      width: 920px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 920px;
    }

    &__points {
      display: grid;
      grid-template-columns: repeat(2, 0fr);
      grid-gap: 40px;
      width: 920px;
    }

    &__item {
      width: 420px;
    }

    &__item-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__item-text {
      font-size: 16px;
      width: 440px;
    }

    &__item-icon {
      padding-bottom: 20px;
    }

    &__pattern-points {
      display: none;
    }

    &__image-main {
      width: 920px;
      height: 680px;
      content: url("src/images/choice-kitchen-1024px.png");
    }

    &__image-main-tablet {
      display: block;
      position: relative;
    }
  }

  .process {
    margin-bottom: 80px;

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__text {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }

    &__title {
      font-size: 40px;
      width: 920px;
    }

    &__description {
      font-size: 20px;
      width: 920px;
    }

    &__steps {
      flex-direction: column;
    }

    &__step {
      margin-bottom: 30px;
      width: 920px;
      padding: 50px 30px 30px;
    }

    &__step-number {
      font-size: 32px;
      line-height: 40px;
      width: 60px;
      height: 60px;
      align-items: center;
      margin-top: -80px;
    }

    &__step-title {
      font-size: 24px;
      width: 100%;
    }

    &__step-description {
      font-size: 20px;
      width: 100%;
      height: 100%;
    }
  }

  .cabinet-gallery {
    padding-top: 80px;
    margin-bottom: 80px;

    &__title {
      font-size: 40px;
      width: 100%;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 20px;
      width: 100%;
      line-height: 28px;
      margin-bottom: 60px;
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }

    &__card {
      border-radius: 20px;
      padding: 20px;
    }

    &__card-name {
      padding-top: 20px;
    }

    &__image {
      width: 400px;
      height: 280px;
    }

    &__card-title {
      @extend %firasans-400;
      font-size: 24px;
      line-height: 32px;
      color: $text;
    }
  }

  .projects-gallery {
    padding-top: 80px;

    .custom-container {
      width: 1024px;
      padding-left: 52px;
      padding-right: 0;
    }

    &__inner {
      flex-direction: column;
    }

    &__description {
      margin-bottom: 60px;
    }

    &__description-title {
      font-size: 40px;
      width: 920px;
      margin-bottom: 20px;
    }

    &__description-text {
      font-size: 20px;
      line-height: 28px;
      width: 920px;
      margin-bottom: 40px;
    }

    &__swiper {
      width: 1060px;
      height: 640px;
    }

    &__swiper-slide {
      width: 460px;
      height: 540px;
    }

    .swiper-slide-active {
      width: 560px;
      height: 640px;
    }

    &__swiper-actions {
      position: absolute;
      top: 0;
      z-index: 2;
      right: 52px;
      display: flex;
      flex-direction: row;
      gap: 30px;
    }

    &__patterns {
      position: absolute;
      top: 50px;
      left: 478px;
    }

    &__patterns img {
      width: 108.824px;
      height: 100px;
    }

    &__counter {
      font-size: 24px;
      @extend %helveticaneuecyr-700;
    }

  }

  .accessories {

    &__header {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 40px;
      width: 100%;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 920px;
    }

    &__points-pattern {
      display: none;
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }

    &__card {
      border-radius: 20px;
      padding: 20px;
    }

    &__card-name {
      padding-top: 20px;
    }

    &__image {
      width: 400px;
      height: 280px;
    }

    &__card-title {
      @extend %firasans-400;
      font-size: 24px;
    }
  }

  .contact-form {

    &__header {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 40px;
      line-height: 56px;
      width: 680px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 680px;
    }

    &__image {
      display: none;
    }

    &__form {
      position: absolute;
      width: 680px;
      padding: 40px;
      justify-content: center;
    }

    &__field {
      margin-bottom: 30px;
    }

    &__label {
      margin-bottom: 15px;
    }

    &__input {
      width: 600px;
      padding: 10px 30px;
      font-size: 16px;
    }

    &__textarea {
      width: 600px;
      font-size: 16px;
      padding: 15px 30px 0;
    }

    &__button {
      width: 600px;
      height: 58px;
    }
  }

  .faq {
    padding-top: 80px;

    &__header {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 40px;
      width: 100%;
      margin-bottom: 30px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 680px;
    }

    &__list {
      gap: 10px;
      margin-bottom: 60px;
    }

    &__item {
      gap: 10px;
    }

    &__line {
      width: 920px;
      margin-bottom: 10px;
    }

    &__question {
      font-size: 20px;
      line-height: 24px;
      width: 800px;

      &:after {
        top: 0;
        right: -120px;
        content: '';
        background-image: url("src/images/icons/arrow-down-24px.svg");
        width: 24px;
        height: 24px;
      }
    }

    &__answer {
      font-size: 16px;
      width: 800px;
    }
  }

  .footer-top {
    padding: 80px 0 80px;
    flex-direction: column;

    &__item {
      display: flex;
      flex-direction: column;
      width: 201px;
    }

    &__company {
      margin-bottom: 80px;
    }

    &__slogan {
      font-size: 40px;
      width: 920px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__list {
      padding-bottom: 10px;
    }

    &__link {
      font-size: 16px;
    }

    &__social-link {
      font-size: 16px;
      gap: 10px;

    }

    &__contacts {
      font-size: 16px;
      gap: 10px;
      padding-bottom: 10px;
      line-height: 24px;
    }
  }
}


@media (max-width: 768px) {

  .container {
    width: 768px;
    margin: 0 auto;
    padding-right: 44px;
    padding-left: 44px;
  }

  .header {
    &__inner {
      align-items: center;
    }
  }

  .menu {

    &__list {
      width: 768px;
    }
  }

  .kitchen-intro {
    padding: 80px 0;
    margin-bottom: 80px;

    &__info-title {
      margin-bottom: 20px;
    }

    &__actions {
      display: flex;
      flex-direction: column;
    }

    &__info-description {
      margin-bottom: 40px;
    }

    &__stats {
      gap: 40px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    .stat {

      &__text {
        width: 285px;
      }
    }

    &__image-container {
      margin-left: auto;
      margin-right: auto;
    }

    &__image-bg {
      width: 680px;
      height: 500px;
    }

    &__image-elips {
      left: 39%;
    }

    &__image-bg {
      width: 680px;
      height: 500px;
      content: url("src/images/intro-kitchen-768px.png");
    }
  }

  .interior {
    margin-bottom: 80px;

    &__inner {
      width: 680px;

    }

    &__title {
      line-height: 56px;
      width: 480px;
      margin-bottom: 20px;
    }

    &__text {
      width: 680px;
    }

    &__list {
      gap: 40px;
    }

    &__list-item {
      width: 310px;
    }

    &__list-points {
      margin-bottom: 60px;
    }

    &__images {
      height: 760px;
    }

    &__image {

      &--large {
        top: 0;
        left: 120px;
        width: 440px;
        height: 540px;
      }

      &--small {
        width: 200px;
        height: 200px;
        top: 0;
        left: 760px;
      }

      &--medium {
        right: 109px;
        bottom: 7px;
        width: 420px;
        height: 520px;
      }
    }

    &__pattern-points {
      bottom: 90px;
      left: 260px;
    }
  }

  .choice {

    &__title {
      width: 680px;
      margin-bottom: 20px;
    }

    &__description {
      width: 680px;
    }

    &__points {
      display: grid;
      grid-template-columns: repeat(2, 320px);
      grid-column-gap: 40px;
    }

    &__item-title {
      width: 320px;
    }

    &__item-text {
      width: 320px;
    }

    &__image-main {
      top: 100px;
      width: 680px;
      height: 500px;
      content: url("src/images/choice-kitchen-768px.png");
    }
  }

  .process {

    &__text {
      margin-bottom: 80px;
    }

    &__title {
      width: 680px;
      margin-bottom: -20px;
    }

    &__description {
      width: 680px;
    }

    &__step {
      width: 680px;
    }
  }

  .cabinet-gallery {

    &__card {
      width: 320px;
    }

    &__image {
      width: 280px;
      height: 200px;
    }

    &__card-name {
      width: 280px;
    }

    &__card-title {
      font-size: 24px;
    }

    &__icon {
      width: 22px;
    }
  }

  .projects-gallery {

    .custom-container {
      width: 768px;
      padding-left: 44px;
      padding-right: 0;
    }

    &__description-title {
      width: 100%;
    }

    &__description-text {
      width: 680px;
    }

    &__swiper {
      width: 820px;
      height: 500px;
    }

    &__swiper-slide {
      width: 340px;
      height: 400px;
    }

    .swiper-slide-active {
      width: 440px;
      height: 500px;
    }

    &__swiper-actions {
      position: absolute;
      top: 0;
      z-index: 2;
      right: 44px;
      display: flex;
      flex-direction: row;
      gap: 30px;
    }

    &__patterns {
      top: 50px;
      left: 418px;
    }

    &__patterns img {
      width: 108.824px;
      height: 100px;
    }
  }

  .accessories {

    &__header-text {
      width: 100%;
    }

    &__description {
      width: 680px;
    }

    &__points-pattern {
      display: none;
    }

    &__card {
      width: 320px;
    }

    &__image {
      width: 280px;
      height: 200px;
    }

    &__card-name {
      width: 280px;
    }

    &__icon {
      width: 22px;
    }
  }

  .faq {
    &__list {
      width: 100%;
    }

    &__line {
      width: 100%;
    }

    &__question {
      width: 560px;
    }

    &__answer {
      width: 560px;
    }
  }

  .footer-top {

    &__company {
      width: 680px;
      margin-right: 0;
    }

    &__slogan {
      width: 680px;
    }

    &__contacts {
      width: 201px;
    }
  }
}

@media (max-width: 480px) {

  .container {
    width: 480px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .menu {

    &__list {
      width: 480px;
    }
  }

  .kitchen-intro {
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 60px;

    &__info-description {
      width: 440px;
      margin-bottom: 30px ;
    }

    &__info-title {
      font-size: 50px;
      line-height: 58px;
      width: 440px;
    }

    &__info-text {
      width: 440px;
    }

    &__actions {
      margin-bottom: 30px;
    }

    &__stats {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 440px;
      margin-bottom: 0;
    }

    .stat {

      &__text {
        width: 405px;
        font-size: 20px;
        line-height: 28px;
      }
    }

    &__image-bg {
      width: 440px;
      height: 288px;
      content: url(src/images/intro-kitchen-440px.png);
    }

    &__image-elips {
      left: 38%;
    }
  }

  .interior {
    margin-bottom: 60px;

    &__inner {
      width: 440px;
      margin: 0 auto;
    }

    &__info {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 10px;
      width: 440px;
      font-size: 50px;
      line-height: 58px;
    }

    &__text {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 28px;
      width: 440px;
    }

    &__list-points {
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__list-item {
      width: 440px;
    }

    &__list-item--name {
      font-size: 20px;
      line-height: 28px;
    }

    &__list-item--text {
      font-size: 20px;
      line-height: 28px;
    }

    &__button {
      font-size: 20px;
      padding: 10px 140px;
    }

    &__images {
      height: 350px;
    }

    &__image {
      display: block;

      &--large {
        width: 210px;
        height: 250px;
        left: 300px;
      }

      &--medium {
        width: 200px;
        height: 240px;
        right: 297px;
        bottom: 5px;
      }

      &--small {
        width: 90px;
        height: 90px;
        left: 600px;
      }
    }

    &__pattern-points {
      width: 82.139px;
      height: 75.294px;
      bottom: 42px;
      left: 363px;
    }
  }

  .choice {
    padding-bottom: 60px;
    margin-bottom: 60px;

    &__inner {
      width: 440px;
    }

    &__info-text {
      width: 440px;
    }

    &__text {
      margin-bottom: 30px;
      width: 440px;
    }

    &__item-icon {
      width: 50px;
      height: 50px;
    }

    &__title {
      margin-bottom: 10px;
      width: 440px;
      font-size: 50px;
      line-height: 58px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 440px;
    }

    &__points {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 440px;
    }

    &__item {
      display: flex;
      align-items: start;
      margin-bottom: 20px;
      width: 440px;
    }

    &__icon {
      flex-shrink: 0;
      margin-right: 15px;
    }

    &__item-icon {
      width: 35px;
    }

    &__description-item {

    }

    &__item-title {
      font-size: 20px;
      width: 390px;
    }

    &__item-text {
      font-size: 20px;
      line-height: 28px;
      width: 390px;
    }


    &__image {
      width: 440px;
    }

    &__image-main {
      top: 80px;
      width: 440px;
      height: 288px;
      content: url("src/images/choice-kitchen-480px.png");
    }
  }

  .process {
    margin-bottom: 60px;

    &__text {
      margin-bottom: 60px;
    }

    &__title {
      width: 440px;
      font-size: 50px;
      line-height: 58px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 440px;
    }

    &__step {
      width: 440px;
    }

    &__step-title {
      font-size: 20px;
      line-height: 28px;
      width: 400px;
    }

    &__step-description {
      font-size: 20px;
      line-height: 28px;
      width: 400px;
    }
  }

  .cabinet-gallery {
    padding-top: 60px;
    margin-bottom: 60px;

    &__title {
      margin-bottom: 10px;
      width: 440px;
      font-size: 50px;
      line-height: 58px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 440px;
      margin-bottom: 30px;
    }

    &__cards {
      display: flex;
      flex-direction: column;
    }

    &__card {
      padding: 10px;
      width: 420px;
    }

    &__card-title {
      font-size: 20px;
    }

    &__image {
      width: 400px;
      height: 262px;
    }

    &__card-name {
      font-size: 20px;
      line-height: 28px;
      width: 395px;
    }
  }

  .projects-gallery {

    .custom-container {
      width: 440px;
      padding-left: 0;
      padding-right: 0;
    }

    padding-top: 60px;
    padding-bottom: 60px;

    &__description-title {
      font-size: 50px;
      line-height: 58px;
      width: 440px;
      margin-bottom: 10px;
    }

    &__description-text {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 28px;
      width: 440px;
    }

    .interior__button {
      font-size: 16px;
      line-height: 24px;
      padding: 10px 145px;
      width: 420px;
    }

    &__swiper {
      width: 640px;
      height: 368px;
    }

    &__swiper-slide {
      width: 290px;
      height: 320px;
    }

    .swiper-slide-active {
      width: 290px;
      height: 320px;
    }

    &__swiper-actions {
      width: 440px;
      right: 0;
      gap: 150px;
      position: absolute;
      display: flex;
      margin-bottom: 20px;
    }

    &__patterns {
      display: none;
    }

    &__counter {
      font-size: 20px;
    }

  }

  .accessories {
    padding-top: 60px;
    padding-bottom: 60px;

    &__header {
      margin-bottom: 30px;
    }

    &__title {
      width: 440px;
      margin-bottom: 10px;
      font-size: 50px;
      line-height: 58px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 440px;
    }

    &__cards {
      display: flex;
      flex-direction: column;
    }

    &__card {
      padding: 10px;
      width: 420px;
    }

    &__card-name {
      padding-top: 10px;
      width: 400px;
    }

    &__card-title {
      font-size: 20px;
    }

    &__image {
      width: 400px;
      height: 262px;
    }
  }

  .contact-form {
    padding-top: 60px;
    padding-bottom: 60px;


    &__header {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 50px;
      line-height: 58px;
      text-align: left;
      width: 440px;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      text-align: left;
      width: 440px;
    }

    &__form {
      width: 440px;
      padding: 20px;
    }

    &__label {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
      width: 400px;
    }

    &__input {
      width: 400px;
      font-size: 20px;
      line-height: 28px;
      padding: 15px 20px;
    }

    &__textarea {
      width: 400px;
      padding: 15px 20px 55px 20px;
      font-size: 20px;
      line-height: 28px;
    }

    &__button {
      font-size: 20px;
      line-height: 28px;
      padding: 10px 20px;
      width: 400px;
    }

    &__field {
      margin-bottom: 20px;
    }
  }

  .faq {
    padding-top: 60px;
    margin-bottom: 60px;

    &__header {
      margin-bottom: 40px;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 20px;
      width: 440px;
      text-align: left;
      font-size: 50px;
      line-height: 50px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 440px;
      text-align: left;
    }

    &__question {
      width: 400px;
      font-size: 20px;
      line-height: 28px;

      &:after {
        right: -45px;
        width: 24px;
        height: 24px;
      }
    }

    &__answer {
      width: 100%;
      font-size: 20px;
      line-height: 28px;
    }

    &__button {
      padding: 10px 72px;
      width: 440px;
      font-size: 20px;
    }
  }

  .footer {

    .footer-top {
      padding-top: 60px;
      padding-bottom: 30px;
      border-bottom: none;

      &__sub-icons {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
      }

      &__company {
        margin-bottom: 60px;
      }

      &__logo {
        width: 225px;
      }

      &__logo-img img {
        width: 225.004px;
        height: 50px;
      }

      &__slogan {
        font-size: 50px;
        line-height: 58px;
        width: 440px;
      }

      &__accordion {
        display: block;
      }

      &__title {
        position: relative;
        font-size: 20px;
        line-height: 28px;
        width: 440px;
        margin-bottom: 20px;
        margin-top: 20px;

        &:after {
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          content: '';
          background-image: url("src/images/icons/chevron.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 32px;
          height: 32px;
        }

        &.active:after {
          transform: rotate(180deg);
        }
      }

      &__items {
        display: none;
      }

      &__line {
        width: 440px;
        height: 1px;
        background: #fff;
        opacity: 0.1;
      }
    }

    .footer-bottom {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 60px;

      &__copy {
        text-align: center;
        width: 320px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
      }
    }
  }

}

@media (max-width: 430px) {

  .container {
    width: 430px;
  }

  .menu {

    &__list {
      width: 430px;
    }
  }

  .kitchen-intro {

    &__inner {
      width: 390px;
    }

    &__info-description {
      width: 390px;

    }

    &__info-title {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
    }

    &__info-text {
      width: 390px;
    }

    &__actions {
      margin-bottom: 30px;
    }

    &__actions-btn {
      padding: 15px 25px;
    }

    &__stats {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 390px;
      margin-bottom: 0;
    }

    .stat {

      &__text {
        width: 405px;
      }
    }

    &__image-bg {
      width: 390px;
      height: 255px;
      content: url(src/images/intro-kitchen-390px.png);
    }

    &__image-elips {
      left: 33%;
    }
  }

  .interior {

    &__inner {
      width: 390px;
    }

    &__info {
      width: 390px;
    }

    &__title {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
    }

    &__text {
      width: 390px;
    }

    &__list-item {
      width: 390px;
    }

    &__button {
      padding: 10px 120px;
    }

  }

  .choice {

    &__inner {
      width: 390px;
    }

    &__info-text {
      width: 390px;
    }

    &__text {
      width: 390px;
    }

    &__title {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
    }

    &__description {
      width: 390px;
    }

    &__points {
      width: 390px;
    }

    &__item {
      width: 390px;
    }

    &__icon {
      flex-shrink: 0;
      margin-right: 15px;
    }

    &__item-icon {
      width: 35px;
    }

    &__description-item {

    }

    &__item-title {
      font-size: 20px;
      width: 340px;
    }

    &__item-text {
      font-size: 20px;
      line-height: 28px;
      width: 340px;
    }


    &__image {
      width: 390px;
    }

    &__image-main {
      top: 80px;
      width: 390px;
      height: 255px;
      content: url("src/images/choice-kitchen-390px.png");
    }
  }

  .process {

    &__inner {
      width: 390px;
    }

    &__title {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 390px;
    }

    &__step {
      width: 390px;
    }

    &__step-title {
      font-size: 20px;
      line-height: 28px;
      width: 340px;
    }

    &__step-description {
      font-size: 20px;
      line-height: 28px;
      width: 340px;
    }
  }

  .cabinet-gallery {

    &__inner {
      width: 390px;
    }

    &__title {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
    }

    &__description {
      width: 390px;
    }

    &__cards {
      display: flex;
      flex-direction: column;
    }

    &__card {
      padding: 10px;
      width: 390px;
    }

    &__card-title {
      font-size: 20px;
    }

    &__image {
      width: 370px;
      height: 240px;
    }

    &__card-name {
      width: 360px;
    }
  }

  .projects-gallery {

    .custom-container {
      width: 390px;
    }

    &__description-title {
      width: 390px;
    }

    &__description-text {
      width: 390px;
    }

    .interior__button {
      font-size: 16px;
      line-height: 24px;
      padding: 10px 132px;
      width: 390px;
    }

    &__swiper {
      width: 640px;
      height: 368px;
    }

    &__swiper-slide {
      width: 290px;
      height: 320px;
    }

    .swiper-slide-active {
      width: 290px;
      height: 320px;
    }

    &__swiper-actions {
      width: 390px;
      right: 0;
      gap: 129px;
      position: absolute;
      display: flex;
      margin-bottom: 20px;
    }

    &__patterns {
      display: none;
    }

    &__counter {
      font-size: 20px;
    }

  }

  .accessories {

    &__inner {
      width: 390px;
    }

    &__title {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
    }

    &__description {
      width: 390px;
    }

    &__card {
      padding: 10px;
      width: 390px;
    }

    &__card-name {
      padding-top: 10px;
      width: 365px;
    }

    &__card-title {
      font-size: 20px;
    }

    &__image {
      width: 370px;
      height: 240px;
    }
  }

  .contact-form {

    &__inner {
      width: 390px;
    }

    &__title {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
    }

    &__description {
      width: 390px;
    }

    &__form {
      width: 390px;
    }

    &__label {
      width: 350px;
    }

    &__input {
      width: 350px;
    }

    &__textarea {
      width: 350px;
    }

    &__button {
      width: 350px;
    }

  }

  .faq {

    &__inner {
      width: 390px;
    }

    &__title {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
    }

    &__description {
      width: 390px;
    }

    &__question {
      width: 350px;
    }

    &__button {
      padding: 10px 47px;
      width: 440px;
      font-size: 20px;
    }
  }

  .footer {

    .footer-top {

      &__slogan {
        width: 390px;
        font-size: 40px;
        line-height: 50px;
      }

      &__title {
        width: 390px;
      }

      &__line {
        width: 390px;
      }
    }
  }

}

@media (max-width: 360px) {

  .container {
    width: 360px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;

    &__inner {
      align-items: center;
    }

    &__logo {
      align-items: center;
      margin-right: 20px;
      padding-left: 0px;
    }

    &__logo img {
      width: 135.002px;
      height: 30px;
    }

    .menu {

      &__list {
        width: 360px;
      }
    }

    .user-nav {

      &__link {
        width: 80px;
        font-size: 14px;
        line-height: 20px;
      }

      &__link-second {
        display: none;
      }
    }
  }

  .menu {
    &__btn {
      width: 16px;
      height: 12px;
    }

    &__btn span {
      background: $text;
      height: 2px;
      width: 16px;
    }
  }

  .user-nav {
    &__link {
      font-size: 14px;
      padding: 5px 10px;
    }
  }

  .kitchen-intro {
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 60px;

    &__info-description {
      margin-bottom: 30px;
    }

    &__info-title {
      font-size: 36px;
      width: 320px;
      line-height: 44px;
      margin-bottom: 10px;
    }

    &__info-text {
      font-size: 16px;
      line-height: 24px;
      width: 320px;
    }

    &__actions {
      gap: 10px;
      margin-bottom: 40px;
    }

    &__actions-btn {
      padding: 10px 20px;
      font-size: 16px;
    }

    &__stats {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 320px;
      margin-bottom: 0;
    }

    &__image-bg {
      width: 320px;
      height: 240px;
    }

    &__image-elips {
      width: 73.333px;
      height: 73.333px;
      left: 37%;
      bottom: -40px;
    }

    &__image-bg {
      width: 320px;
      height: 240px;
      content: url("src/images/intro-kitchen-360px.png");
    }
  }

  .interior {
    margin-bottom: 60px;

    &__inner {
      width: 320px;
      margin: 0 auto;
    }

    &__info {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 32px;
      width: 320px;
      line-height: 40px;
    }

    &__text {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
      width: 320px;
    }

    &__list-points {
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__list-item {
      width: 320px;
    }

    &__list-item--name {
      font-size: 16px;
    }

    &__list-item--text {
      font-size: 16px;
      line-height: 24px;
    }

    &__button {
      font-size: 16px;
      padding: 10px 97px;
    }

    &__images {
      height: 350px;
    }

    &__image {
      display: block;

      &--large {
        width: 210px;
        height: 250px;
        left: 300px;
      }

      &--medium {
        width: 200px;
        height: 240px;
        right: 297px;
        bottom: 5px;
      }

      &--small {
        width: 90px;
        height: 90px;
        left: 600px;
      }
    }

    &__pattern-points {
      width: 82.139px;
      height: 75.294px;
      bottom: 42px;
      left: 363px;
    }

  }

  .choice {
    padding-bottom: 60px;
    margin-bottom: 60px;

    &__inner {
      width: 320px;
    }

    &__info-text {
      width: 320px;
    }

    &__text {
      margin-bottom: 30px;
      width: 320px;
    }

    &__points {
      width: 320px;
    }

    &__icon {
      flex-shrink: 0;
      margin-right: 10px;
    }

    &__item-icon {
      width: 35px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 32px;
      line-height: 40px;
      width: 320px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      width: 320px;
    }

    &__points {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin-bottom: 20px;
      width: 320px;
    }

    &__item-title {
      font-size: 16px;
      width: 270px;
    }

    &__item-text {
      font-size: 16px;
      line-height: 24px;
      width: 270px;
    }

    &__image {
      bottom: 175px;
      width: 320px;
    }

    &__image-main {
      width: 320px;
      height: 240px;
      content: url("src/images/choice-kitchen-360px.png");
    }
  }

  .process {
    margin-bottom: 60px;

    &__text {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      width: 320px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      width: 320px;
    }

    &__step {
      width: 320px;
    }

    &__step-title {
      font-size: 20px;
      line-height: 24px;
      width: 280px;
    }

    &__step-description {
      font-size: 16px;
      line-height: 24px;
      width: 280px;
    }
  }

  .cabinet-gallery {
    padding-top: 60px;
    margin-bottom: 60px;

    &__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 10px;
      width: 320px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      width: 320px;
      margin-bottom: 30px;
    }

    &__cards {
      display: flex;
      flex-direction: column;
    }

    &__card {
      width: 320px;
    }

    &__image {
      width: 300px;
      height: 200px;
    }

    &__card-name {
      font-size: 20px;
      line-height: 28px;
      width: 280px;
    }
  }

  .projects-gallery {

    .custom-container {
      width: 360px;
      padding-left: 20px;
      padding-right: 0;
    }

    padding-top: 60px;
    padding-bottom: 60px;

    &__description-title {
      font-size: 32px;
      line-height: 40px;
      width: 320px;
      margin-bottom: 10px;
    }

    &__description-text {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
      width: 320px;
    }

    .interior__button {
      font-size: 16px;
      line-height: 24px;
      padding: 10px 97px;
      width: 320px;
    }

    &__swiper {
      width: 640px;
      height: 368px;
    }

    &__swiper-slide {
      width: 290px;
      height: 320px;
    }

    .swiper-slide-active {
      width: 290px;
      height: 320px;
    }

    &__swiper-actions {
      width: 320px;
      right: 15px;
      gap: 90px;
      position: absolute;
      display: flex;
      margin-bottom: 20px;
    }

    &__patterns {
      display: none;
    }

    &__counter {
      font-size: 20px;
    }

  }

  .accessories {
    padding-top: 60px;
    padding-bottom: 60px;

    &__header {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      width: 320px;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      width: 320px;
    }

    &__cards {
      display: flex;
      flex-direction: column;
    }

    &__card {
      padding: 10px;
      width: 320px;
    }

    &__card-name {
      padding-top: 10px;
      width: 300px;
    }

    &__card-title {
      font-size: 20px;
    }

    &__image {
      width: 300px;
      height: 200px;
    }
  }

  .contact-form {
    padding-top: 60px;
    padding-bottom: 0;


    &__header {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      text-align: left;
      width: 320px;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      width: 320px;
    }

    &__form {
      width: 320px;
      padding: 20px;
    }

    &__label {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
      width: 280px;
    }

    &__input {
      width: 280px;
      font-size: 16px;
      line-height: 20px;
      padding: 15px 20px;
    }

    &__textarea {
      width: 280px;
      padding: 15px 20px 55px 20px;
      font-size: 16px;
      line-height: 20px;
    }

    &__button {
      font-size: 16px;
      line-height: 24px;
      padding: 10px 20px;
      width: 280px;
    }

    &__field {
      margin-bottom: 20px;
    }
  }

  .faq {
    padding-top: 60px;
    margin-bottom: 60px;

    &__header {
      margin-bottom: 40px;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      width: 320px;
      text-align: left;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      width: 320px;
      text-align: left;
    }

    &__question {
      width: 276px;
      font-size: 16px;
      line-height: 24px;

      &:after {
        right: -45px;
        width: 24px;
        height: 24px;
      }
    }

    &__answer {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
    }

    &__button {
      padding: 10px 37px;
      width: 320px;
      font-size: 16px;
    }
  }

  .footer {

    .footer-top {
      padding-top: 60px;
      padding-bottom: 30px;
      border-bottom: none;

      &__sub-icons {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
      }

      &__company {
        margin-bottom: 60px;
      }

      &__logo {
        width: 225px;
      }

      &__logo-img img {
        width: 225.004px;
        height: 50px;
      }

      &__slogan {
        font-size: 32px;
        line-height: 40px;
        width: 320px;
      }

      &__accordion {
        display: block;
      }

      &__title {
        position: relative;
        font-size: 20px;
        line-height: 28px;
        width: 320px;
        margin-bottom: 20px;
        margin-top: 20px;

        &:after {
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          content: '';
          background-image: url("src/images/icons/chevron.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 32px;
          height: 32px;
        }

        &.active:after {
          transform: rotate(180deg);
        }
      }

      &__items {
        display: none;
      }

      &__line {
        width: 320px;
        height: 1px;
        background: #fff;
        opacity: 0.1;
      }
    }

    .footer-bottom {
      display: flex;
      flex-direction: column;
      padding-bottom: 60px;

      &__copy {
        text-align: center;
        width: 320px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
      }

      &__legal-link {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}