@import "normalize.css";
.accessories__card-title, .cabinet-gallery__card-title {
  font-family: "FiraSans-Regular", sans-serif;
  font-weight: 400;
}

.contact-form__title, .accessories__title, .cabinet-gallery__title, .process__title, .choice__item-title, .choice__title, .interior__title, .kitchen-intro__info-title {
  font-family: "FiraSans-Bold", sans-serif;
  font-weight: 700;
}

.process__step-description, .process__description, a, body {
  font-family: "helveticaneuecyr_regular", sans-serif;
  font-weight: 400;
}

.contact-form__button, .contact-form__label, .process__step-title, .process__step-number, .interior__button, .interior__list-item--name, .kitchen-intro__actions-btn, .menu__list-link {
  font-family: "helveticaneuecyr_bold", sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: "FiraSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("FiraSans-Regular"), url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "FiraSans-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("FiraSans-Bold"), url("../fonts/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "helveticaneuecyr_regular";
  font-weight: 400;
  font-style: normal;
  src: local("helveticaneuecyr_regular"), url("../fonts/helveticaneuecyr_regular.woff2") format("woff2"), url("../fonts/helveticaneuecyr_regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "helveticaneuecyr-bold";
  font-weight: 700;
  font-style: normal;
  src: local("helveticaneuecyr-bold"), url("../fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold.woff") format("woff");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

textarea {
  resize: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  color: #252525;
  font-size: 24px;
  line-height: 32px;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.header {
  padding: 20px 0;
  height: 80px;
  background-color: #F4F4F4;
  align-items: center;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
}
.menu__list-item + .menu__list-item {
  padding-left: 40px;
}
.menu__list-link {
  color: #252525;
  font-size: 16px;
  padding-bottom: 2px;
  border-radius: 1px;
  transition: all 0.2s;
}
.menu__list-link:hover {
  color: #F0D88B;
  border-bottom: 2px solid #F0D88B;
}

.user-nav__link {
  display: inline-block;
  background-color: #F0D88B;
  padding: 6px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #252525;
}

.kitchen-intro {
  background-color: #F4F4F4;
  padding: 80px 0;
  margin-bottom: 100px;
  display: flex;
}
.kitchen-intro__inner {
  display: flex;
  justify-content: space-between;
}
.kitchen-intro__info {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.kitchen-intro__image-container {
  position: relative;
}
.kitchen-intro__image-elips {
  position: absolute;
  bottom: 30px;
  left: -80px;
  z-index: 1;
}
.kitchen-intro__info-description {
  margin-bottom: 60px;
}
.kitchen-intro__info-title {
  font-size: 64px;
  line-height: 72px;
  width: 800px;
  height: 144px;
  margin-bottom: 30px;
}
.kitchen-intro__info-text {
  width: 780px;
  height: 160px;
  font-size: 24px;
  line-height: 32px;
}
.kitchen-intro__actions {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}
.kitchen-intro__actions-btn {
  color: #252525;
  font-weight: 700;
  border: 2px solid #252525;
  border-radius: 30px;
  padding: 15px 30px;
  display: inline-block;
  transition: all 0.2s;
  font-size: 20px;
}
.kitchen-intro__actions-btn:hover {
  background-color: #F0D88B;
  border: none;
}
.kitchen-intro__stats {
  display: flex;
  flex-direction: column;
}
.kitchen-intro .stat {
  display: flex;
  margin-right: 100px;
  padding-bottom: 20px;
  gap: 15px;
  align-items: center;
}
.kitchen-intro .stat::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #F0D88B;
  border-radius: 50%;
  flex-shrink: 0;
}
.kitchen-intro .stat__text {
  display: block;
  width: 625px;
  max-height: 56px;
  font-size: 20px;
  line-height: 28px;
}

.interior {
  margin-bottom: 100px;
}
.interior__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.interior__images {
  position: relative;
  width: 50%;
  height: 780px;
}
.interior__image {
  display: block;
}
.interior__image--large {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 460px;
  height: 560px;
}
.interior__image--medium {
  position: absolute;
  z-index: 2;
  right: 110px;
  bottom: 10px;
  width: 440px;
  height: 540px;
}
.interior__image--small {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 80%;
  transform: translateX(-80%);
  width: 200px;
  height: 200px;
}
.interior__pattern-points {
  position: absolute;
  bottom: 90px;
  left: 140px;
  z-index: 0;
  width: 174.545px;
  height: 160px;
  background: url("src/images/pattern-points.png") no-repeat;
  background-size: cover;
}
.interior__info {
  position: relative;
  z-index: 5;
}
.interior__title {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 30px;
  width: 550px;
  height: 120px;
}
.interior__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 60px;
  max-width: 800px;
  max-height: 160px;
}
.interior__list-points {
  margin-bottom: 50px;
}
.interior__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.interior__list-item {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  height: 140px;
  font-size: 20px;
  line-height: 28px;
}
.interior__list-item--name {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}
.interior__list-item--name::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #F0D88B;
  border-radius: 50%;
  flex-shrink: 0;
}
.interior__button {
  color: #252525;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #F0D88B;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.interior__arrow {
  width: 28px;
  height: 28px;
}

.choice {
  margin-bottom: 100px;
  padding: 100px 0;
  background-color: #F4F4F4;
}
.choice__inner {
  display: flex;
  justify-content: space-between;
}
.choice__text {
  margin-bottom: 80px;
}
.choice__title {
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 60px;
  width: 660px;
  height: 120px;
}
.choice__description {
  font-size: 24px;
  line-height: 32px;
  width: 800px;
  height: 160px;
}
.choice__points {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.choice__item {
  margin-bottom: 80px;
}
.choice__item-icon {
  padding-bottom: 40px;
}
.choice__item-title {
  width: 380px;
  max-height: 64px;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
}
.choice__item-text {
  width: 380px;
  max-height: 112px;
  font-size: 20px;
  line-height: 28px;
}
.choice__image {
  position: relative;
  display: flex;
}
.choice__image-main {
  display: block;
  position: relative;
  z-index: 7;
  width: 660px;
  height: 844px;
  top: 100px;
  left: 0;
}
.choice__pattern-points {
  position: absolute;
  top: 0;
  left: -100px;
  z-index: 6;
  width: 240px;
  height: 220px;
  background: url("src/images/pattern-points.png") no-repeat;
  background-size: cover;
}

.process {
  margin-bottom: 100px;
}
.process__text {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}
.process__title {
  font-size: 48px;
  line-height: 60px;
  max-width: 660px;
  height: 120px;
}
.process__description {
  font-size: 24px;
  line-height: 32px;
  max-width: 660px;
  height: 96px;
}
.process__steps {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.process__step {
  background: #F4F4F4;
  border-radius: 20px;
  padding: 70px 30px 30px;
}
.process__step-number {
  position: absolute;
  font-size: 40px;
  line-height: 56px;
  background: #F0D88B;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -110px;
}
.process__step-title {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 10px;
}
.process__step-description {
  font-size: 24px;
  line-height: 32px;
  max-width: 460px;
  max-height: 160px;
}

.cabinet-gallery {
  padding-top: 100px;
  margin-bottom: 100px;
}
.cabinet-gallery__header {
  display: flex;
  flex-direction: column;
}
.cabinet-gallery__title {
  font-size: 48px;
  line-height: 60px;
  max-width: 800px;
  height: 60px;
  margin-bottom: 30px;
}
.cabinet-gallery__description {
  max-width: 1080px;
  height: 96px;
  margin-bottom: 80px;
}
.cabinet-gallery__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.cabinet-gallery__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F4F4F4;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.cabinet-gallery__card:hover {
  transform: translateY(-5px);
}
.cabinet-gallery__card-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.cabinet-gallery__image {
  width: 460px;
  height: 300px;
  display: block;
}
.cabinet-gallery__card-title {
  font-size: 32px;
  line-height: 32px;
  color: #252525;
}

.projects-gallery {
  background-color: #F4F4F4;
  padding: 100px 0;
}
.projects-gallery .swiper {
  width: 520px;
  height: 600px;
}
.projects-gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accessories {
  padding: 100px 0;
}
.accessories__header {
  display: flex;
  margin-bottom: 80px;
}
.accessories__header-text {
  display: flex;
  flex-direction: column;
}
.accessories__points-pattern {
  width: 100px;
  height: 110px;
  background: url("src/images/pattern-points.png") no-repeat;
  background-size: cover;
}
.accessories__title {
  font-size: 48px;
  line-height: 60px;
  max-width: 940px;
  height: 60px;
  margin-bottom: 30px;
}
.accessories__description {
  max-width: 940px;
  height: 96px;
}
.accessories__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.accessories__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F4F4F4;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.accessories__card:hover {
  transform: translateY(-5px);
}
.accessories__card-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.accessories__image {
  width: 460px;
  height: 300px;
  display: block;
}
.accessories__card-title {
  font-size: 32px;
  line-height: 32px;
  color: #252525;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  padding: 100px 0;
}
.contact-form__header {
  text-align: center;
  margin-bottom: 50px;
}
.contact-form__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 60px;
  max-width: 600px;
  max-height: 120px;
}
.contact-form__description {
  margin: 0 auto;
  max-width: 1080px;
  max-height: 64px;
}
.contact-form__inner {
  position: relative;
  display: flex;
  justify-content: center;
}
.contact-form__form {
  position: relative;
  align-items: center;
  z-index: 10;
  width: 800px;
  height: 655px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 25px 50px;
}
.contact-form__field {
  margin-bottom: 30px;
}
.contact-form__label {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
  color: #252525;
}
.contact-form__input {
  width: 700px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #E9E9E9;
  font-size: 16px;
  padding-left: 30px;
}
.contact-form__textarea {
  width: 700px;
  height: 70px;
  border-radius: 20px;
  border: 1px solid #E9E9E9;
  font-size: 16px;
  padding: 15px 30px;
}
.contact-form__images {
  height: 660px;
  width: 554px;
}
.contact-form__image {
  display: block;
}
.contact-form__image--main {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 9;
  width: 660px;
  height: 554px;
}
.contact-form__image--pattern {
  position: absolute;
  z-index: 8;
  bottom: 5px;
  right: 300px;
  width: 109px;
  height: 100px;
}
.contact-form__button {
  width: 700px;
  height: 58px;
  background-color: #F0D88B;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}
.contact-form__button:hover {
  background-color: #DFBC4B;
}

.footer {
  background-color: #252525;
}

.footer-top {
  padding: 100px 0 85px;
  border-bottom: 1px solid #3a3a3a;
  display: flex;
}
.footer-top__company {
  width: 500px;
  height: 260px;
  margin-right: 180px;
}
.footer-top__contact-link {
  margin-bottom: 15px;
}
.footer-top__logo {
  display: block;
  margin-bottom: 30px;
  width: 170px;
}
.footer-top__slogan {
  color: #fff;
  line-height: 60px;
  font-size: 48px;
}
.footer-top__title {
  color: #fff;
  margin-bottom: 30px;
}
.footer-top__item {
  margin-bottom: 15px;
}
.footer-top__menu {
  width: 240px;
  margin-right: 40px;
}
.footer-top__list {
  padding-bottom: 50px;
}
.footer-top__social {
  width: 240px;
  margin-right: 40px;
}
.footer-top__social-link {
  margin-bottom: 15px;
  display: flex;
}
.footer-top__contact-link {
  max-width: 378px;
}
.footer-top__contacts {
  align-items: start;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
}
.footer-top__social-link {
  gap: 20px;
}
.footer-top__menu, .footer-top__social, .footer-top__contact {
  line-height: 28px;
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  height: 125px;
  color: var(--Kitchen_Grey---Light, #FFF);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}
.footer-bottom__copy {
  font-weight: 700;
}
.footer-bottom__legal-link {
  margin: 0 20px;
  font-weight: 400;
}
.footer-bottom__legal-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
