@import "normalize.css";
@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 20px 0;
  height: 80px;
  background-color: $background;
  align-items: center;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__btn {
    display: none;
    width: 30px;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
  }

  &__btn span {
    background-color: $bg-footer;
    height: 3px;
    width: 24px;
    border-radius: 50px;
  }

  &__list-item + .menu__list-item {
    padding-left: 40px;
  }

  &__list-link {
    color: $text;
    font-size: 16px;
    padding-bottom: 2px;
    border-radius: 1px;
    transition: all .2s;
    @extend %helveticaneuecyr-700;

    &:hover {
      color: $accent;
      border-bottom: 2px solid $accent;
    }
  }
}

.user-nav {
  &__link {
    display: inline-block;
    background-color: $accent;
    padding: 6px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: $text;

    &:hover {
      background-color: #DFBC4B;
    }
  }
}


.kitchen-intro {
  background-color: $background;
  padding: 80px 0;
  margin-bottom: 100px;
  display: flex;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  &__image-container {
    position: relative;
  }

  &__image-elips {
    position: absolute;
    bottom: 30px;
    left: -80px;
    z-index: 1;
  }

  &__info-description {
    margin-bottom: 60px;
  }

  &__info-title {
    @extend %firasans-700;
    font-size: 64px;
    line-height: 72px;
    width: 800px;
    height: 144px;
    margin-bottom: 30px;
  }

  &__info-text {
    width: 780px;
    height: 160px;
    font-size: 24px;
    line-height: 32px;
  }

  &__actions {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
  }

  &__actions-btn {
    color: $text;
    font-weight: 700;
    border: 2px solid #252525;
    border-radius: 30px;
    padding: 15px 30px;
    display: inline-block;
    transition: all .2s;
    @extend %helveticaneuecyr-700;
    font-size: 20px;

    &:hover {
      background-color: $accent;
      border: 2px solid $accent;
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
  }

  .stat {
    display: flex;
    padding-bottom: 20px;
    gap: 15px;
    align-items: start;

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: $accent;
      border-radius: 50%;
      flex-shrink: 0;
    }
  }

  .stat__text {
    //display: block;
    width: 625px;
    max-height: 56px;
    font-size: 20px;
    line-height: 28px;
  }
}


.interior {
  margin-bottom: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__images {
    position: relative;
    width: 50%;
    height: 780px;
  }

  &__image {
    display: block;

    &--large {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 460px;
      height: 560px;
    }

    &--medium {
      position: absolute;
      z-index: 2;
      right: 110px;
      bottom: 10px;
      width: 440px;
      height: 540px;
    }

    &--small {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 80%;
      transform: translateX(-80%);
      width: 200px;
      height: 200px;
    }
  }

  &__pattern-points {
    position: absolute;
    bottom: 90px;
    left: 140px;
    z-index: 0;
    width: 174.545px;
    height: 160px;
    background: url('src/images/pattern-points.png') no-repeat;
    background-size: cover;
  }

  &__info {
    position: relative;
    z-index: 5;
  }

  &__title {
    @extend %firasans-700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
    width: 550px;
    height: 120px;
  }

  &__text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 60px;
    max-width: 800px;
    max-height: 160px;
  }

  &__list-points {
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    height: 140px;
    font-size: 20px;
    line-height: 28px;

    &--name {
      display: flex;
      align-items: center;
      gap: 15px;
      @extend %helveticaneuecyr-700;
      font-size: 20px;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: $accent;
        border-radius: 50%;
        flex-shrink: 0;
      }
    }

  }

  &__button {
    @extend %helveticaneuecyr-700;
    color: $text;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: $accent;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: #DFBC4B;
    }
  }

  &__arrow {
    width: 28px;
    height: 28px;
  }
}


.choice {
  margin-bottom: 100px;
  padding: 100px 0;
  background-color: $background;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 80px;
  }

  &__title {
    @extend %firasans-700;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 60px;
    width: 660px;
    height: 120px;
  }

  &__description {
    font-size: 24px;
    line-height: 32px;
    width: 800px;
    height: 160px;
  }

  &__points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    margin-bottom: 80px;

  }

  &__item-icon {
    padding-bottom: 30px;
  }

  &__item-title {
    @extend %firasans-700;
    width: 380px;
    max-height: 64px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  &__item-text {
    width: 380px;
    max-height: 112px;
    font-size: 20px;
    line-height: 28px;
  }

  &__image {
    position: relative;
    display: flex;
  }

  &__image-main {
    display: block;
    position: relative;
    z-index: 7;
    width: 660px;
    height: 844px;
    top: 100px;
    left: 0;
  }

  &__image-main-tablet {
    display: none;
  }

  &__pattern-points {
    position: absolute;
    top: 0;
    left: -100px;
    z-index: 6;
    width: 240px;
    height: 220px;
    background: url('src/images/pattern-points.png') no-repeat;
    background-size: cover;
  }
}


.process {
  margin-bottom: 100px;

  &__text {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
  }

  &__title {
    @extend %firasans-700;
    font-size: 48px;
    line-height: 60px;
    width: 660px;
    height: 120px;
  }

  &__description {
    @extend %helveticaneuecyr-400;
    font-size: 24px;
    line-height: 32px;
    width: 660px;
    height: 96px;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__step {
    background: $background;
    border-radius: 20px;
    padding: 70px 30px 30px;

  }

  &__step-number {
    position: absolute;
    @extend %helveticaneuecyr-700;
    font-size: 40px;
    line-height: 56px;
    background: $accent;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
  }

  &__step-title {
    @extend %helveticaneuecyr-700;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 10px;
  }

  &__step-description {
    @extend %helveticaneuecyr-400;
    font-size: 24px;
    line-height: 32px;
    width: 460px;
    height: 160px;
  }

}


.cabinet-gallery {
  padding-top: 100px;
  margin-bottom: 100px;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %firasans-700;
    font-size: 48px;
    line-height: 60px;
    max-width: 800px;
    height: 60px;
    margin-bottom: 30px;
  }

  &__description {
    max-width: 1080px;
    height: 96px;
    margin-bottom: 80px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__card-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  &__image {
    width: 460px;
    height: 300px;
    display: block;
  }

  &__card-title {
    @extend %firasans-400;
    font-size: 32px;
    line-height: 32px;
    color: $text;
  }

}


.projects-gallery {
  background-color: $background;
  padding: 100px 0;

  &__inner {
    display: flex;
    flex-direction: row;
  }

  &__description {
    margin-right: 40px;
  }

  &__description-title {
    @extend %firasans-700;
    font-size: 48px;
    line-height: 60px;
    width: 520px;
    height: 120px;
    margin-bottom: 30px;
  }

  &__description-text {
    @extend %helveticaneuecyr-400;
    font-size: 24px;
    line-height: 32px;
    width: 520px;
    height: 256px;
    margin-bottom: 135px;
  }

  &__btn {

  }

  &__slider {
    position: relative;
  }

  &__swiper {
    width: 1392px;
    height: 600px;
    overflow-x: hidden;
  }

  .swiper-wrapper {
    display: flex;
    align-items: end;
  }

  &__swiper-slide {
    display: block;
    object-fit: cover;
    width: 416px;
    height: 500px;
    border-radius: 20px;
  }

  .swiper-slide-active {
    height: 600px;
    width: 520px;
    transition: all 0.5s ease-in-out;
  }

  &__swiper-actions {
    position: absolute;
    top: 0;
    z-index: 2;
    right: 320px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__patterns {
    position: absolute;
    top: 30px;
    left: 440px;
    width: 109px;
    height: 100px;
  }
}

.current-counter {
  &__value {
    color: $text;
  }
}

.accessories {
  padding: 100px 0;
  //margin-bottom: 100px;

  &__header {
    position: relative;
    display: flex;
    margin-bottom: 80px;
  }

  &__header-text {
    display: flex;
    flex-direction: column;
  }

  &__pattern-points {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__points-pattern {
    position: absolute;
    top: 35px;
    left: 1050px;
    width: 110px;
    height: 100px;
    //background: url('src/images/pattern-points.png') no-repeat;
    background-size: cover;
  }

  &__title {
    @extend %firasans-700;
    font-size: 48px;
    line-height: 60px;
    max-width: 940px;
    height: 60px;
    margin-bottom: 30px;
  }

  &__description {
    max-width: 940px;
    height: 96px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__card-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  &__image {
    width: 460px;
    height: 300px;
    display: block;

  }

  &__card-title {
    @extend %firasans-400;
    font-size: 32px;
    line-height: 32px;
    color: $text;
  }
}


.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  padding: 100px 0;

  &__header {
    text-align: center;
    margin-bottom: 50px;
  }

  &__title {
    @extend %firasans-700;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 60px;
    width: 600px;
    height: 120px;
  }

  &__description {
    margin: 0 auto;
    width: 1080px;
    height: 64px;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__form {
    position: relative;
    align-items: center;
    z-index: 10;
    width: 800px;
    height: 655px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 25px 50px;
  }

  &__field {
    margin-bottom: 30px;
  }

  &__label {
    display: block;
    margin-bottom: 15px;
    @extend %helveticaneuecyr-700;
    font-size: 20px;
    color: $text;
  }

  &__input {
    width: 700px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #E9E9E9;
    font-size: 16px;
    padding-left: 30px;
  }

  &__textarea {
    width: 700px;
    height: 70px;
    border-radius: 20px;
    border: 1px solid #E9E9E9;
    font-size: 16px;
    padding: 15px 30px;
  }

  &__images {
    height: 660px;
    width: 554px;
  }

  &__image {
    display: block;

    &--main {
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 9;
      width: 660px;
      height: 554px;
    }

    &--pattern {
      position: absolute;
      z-index: 8;
      bottom: 5px;
      right: 300px;
      width: 109px;
      height: 100px;
    }
  }

  &__button {
    width: 700px;
    height: 58px;
    background-color: #F0D88B;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    @extend %helveticaneuecyr-700;

    &:hover {
      background-color: #DFBC4B;
    }
  }
}


.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;

  &__header {
    text-align: center;
    margin-bottom: 80px;
  }

  &__title {
    @extend %firasans-700;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 48px;
    height: 60px;
    width: 1076px;
  }

  &__description {
    margin: 0 auto;
    width: 1080px;
    height: 96px;
  }

  &__list {
    width: 1360px;
    margin-bottom: 50px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__line {
    width: 1360px;
    background: #E9E9E9;
    height: 1px;
    margin-bottom: 30px;
  }

  &__question {
    position: relative;
    @extend %roboto-700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;

    &:after {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      content: '';
      background-image: url("src/images/arrow-down.svg");
      width: 32px;
      height: 32px;
    }

    &.active:after {
      transform: rotate(180deg);
    }
  }

  &__answer {
    @extend %roboto-400;
    font-size: 20px;
    line-height: 28px;
    color: #676767;
    width: 1060px;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }

  &__button {
    @extend %helveticaneuecyr-700;
    color: $text;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: $accent;
    display: inline-flex;
    margin: 0 auto;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: #DFBC4B;
    }
  }
}


.footer {
  background-color: $bg-footer;
}

.footer-top {
  padding: 100px 0 85px;
  border-bottom: 1px solid #3a3a3a;
  display: flex;

  &__company {
    display: flex;
    flex-direction: column;
    //width: 520px;
    //height: 260px;
    margin-right: 180px;
  }

  &__contact-link {
    margin-bottom: 15px;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
    width: 170px;
  }

  &__slogan {
    width: 520px;
    height: 180px;
    color: #fff;
    line-height: 60px;
    font-size: 48px;
  }

  &__title {
    @extend %helveticaneuecyr-700;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__menu {
    width: 240px;
    margin-right: 40px;
  }

  &__list {
    padding-bottom: 50px;
  }

  &__social {
    width: 240px;
    margin-right: 40px;
  }

  &__social-link {
    margin-bottom: 15px;
    display: flex;
  }


  &__contact-link {
    max-width: 378px;
  }

  &__contacts {
    align-items: start;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
  }

  &__social-link {
    gap: 20px;
  }

  &__menu,
  &__social,
  &__contact {
    line-height: 28px;
    display: flex;
    flex-direction: column;
  }
}

.footer-bottom {
  height: 125px;
  color: var(--Kitchen_Grey---Light, #FFF);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

  &__copy {
    font-weight: 700;
  }

  &__legal-link {
    //margin: 0 20px;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }

  &__legal-divider {
    margin: 0 20px;
  }
}

@import "media";

@media (max-width: 1024px) {

  .container {
    width: 920px;

  }

  .header {

    &__inner {
      padding : 20px 0;
      align-items: center;
    }

    &__logo {
      margin-right: auto;
      padding-left: 30px;
    }
  }

  .menu {
    order: -1;

    &__list {
      display: none;
    }

    &__btn {
      display: flex;
    }
  }

  .kitchen-intro {
    display: flex;
    flex-direction: column;
    padding-left: 52px;
    padding-right: 52px;


    &__inner {
      flex-direction: column;
      overflow-y: auto;
    }

    &__info-description {
      margin-left: auto;
      margin-right: auto;
    }

    &__info-title {
      text-align: center;
      font-size: 48px;
      width: 680px;
      height: 120px;
      line-height: 60px;

    }

    &__info-text {
      text-align: center;
      font-size: 20px;
      width: 680px;
      height: 140px;
      line-height: 28px;
    }

    &__actions {
      margin-right: auto;
      margin-left: auto;
    }

    &__stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      margin-bottom: 60px;
    }

    .stat {

      &__text {
        font-size: 16px;
        line-height: 24px;
        width: 405px;
        height: 48px;
      }
    }

    &__image-container {
      margin-right: auto;
      margin-left: auto;
      //overflow-x: auto;
      //overflow-y: auto;
    }

    &__image-elips {
      bottom: -50px;
      left: 43%;
      transform: rotate(-45deg);
    }
  }

  .interior {
    margin-bottom: 60px;

    &__inner {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    &__info {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 40px;
      height: 56px;
      width: 920px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 20px;
      line-height: 28px;
      width: 920px;
      height: 112px;
      margin-bottom: 60px;
    }

    &__list-points {
      margin-bottom: 30px;
    }

    &__list-item {
      font-size: 16px;
    }

    &__images {
      position: relative;
      width: 920px;
      height: 1038px
    }

    &__image {
      display: block;

      &--large {
        position: absolute;
        top: 0;
        right: 0;
        width: 560px;
        height: 680px;
      }

      &--small {
        position: absolute;
        width: 320px;
        height: 320px;
        top: 0;
        left: 840px;
      }

      &--medium {
        position: absolute;
        right: 0;
        bottom: 20px;
        width: 560px;
        height: 678px;
      }
    }

    &__pattern-points {
      position: absolute;
      bottom: 210px;
      left: 230px;
    }
  }

  .choice {
    padding-bottom: 80px;
    margin-bottom: 80px;

    &__inner {
      display: flex;
      flex-direction: column;
      width: 920px;
    }

    &__text {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 40px;
      line-height: 56px;
      width: 920px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 920px;
      height: 112px;
    }

    &__item {
      margin-bottom: 60px;
    }

    &__item-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__item-text {
      font-size: 16px;
      width: 440px;
      max-height: 72px;
    }

    &__item-icon {
      padding-bottom: 20px;
    }

    &__pattern-points {
      display: none;
    }

    &__image-main {
      display: none;
    }

    &__image-main-tablet {
      display: block;
      position: relative;
    }
  }

  .process {
    margin-bottom: 80px;

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__text {
      display: flex;
      flex-direction: column;
      //margin-bottom: 60px;
    }

    &__title {
      font-size: 40px;
      width: 920px;
      height: 56px;
    }

    &__description {
      font-size: 20px;
      width: 920px;
      height: 56px;
    }

    &__steps {
      flex-direction: column;
    }

    &__step {
      margin-bottom: 30px;
      width: 920px;
      padding: 50px 30px 30px;
    }

    &__step-number {
      font-size: 32px;
      line-height: 40px;
      width: 60px;
      height: 60px;
      align-items: center;
      margin-top: -80px;
    }

    &__step-title {
      font-size: 24px;
      width: 920px;
      height: 32px;
      margin-bottom: 10px;
    }

    &__step-description {
      font-size: 20px;
      width: 860px;
      height: 56px;
    }
  }

  .cabinet-gallery {
    padding-top: 80px;
    margin-bottom: 80px;

    &__title {
      font-size: 40px;
      width: 920px;
      height: 56px;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 20px;
      width: 920px;
      height: 84px;
      line-height: 28px;
      margin-bottom: 60px;
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }

    &__card {
      border-radius: 20px;
      padding: 20px;
    }

    &__card-name {
      padding-top: 20px;
    }

    &__image {
      width: 400px;
      height: 280px;
    }

    &__card-title {
      @extend %firasans-400;
      font-size: 24px;
      line-height: 32px;
      color: $text;
    }
  }

  .projects-gallery {
    padding-top: 80px;

    &__inner {
      flex-direction: column;
    }

    &__description {
      margin-bottom: 60px;
    }

    &__description-title {
      font-size: 40px;
      width: 920px;
      height: 56px;
      margin-bottom: 20px;
    }

    &__description-text {
      font-size: 20px;
      line-height: 28px;
      width: 920px;
      height: 112px;
      margin-bottom: 40px;
    }

    &__swiper-actions {
      right: 0;
    }
  }

  .accessories {

    &__header {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 40px;
      height: 56px;
      width: 920px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 920px;
      height: 84px;
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }

    &__card {
      border-radius: 20px;
      padding: 30px;
    }

    &__card-name {
      padding-top: 20px;
    }

    &__image {
      width: 400px;
      height: 280px;
    }

    &__card-title {
      @extend %firasans-400;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .contact-form {

    &__header {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 40px;
      line-height: 56px;
      width: 680px;
      height: 112px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 680px;
      height: 84px;
    }

    &__image {
      display: none;
    }

    &__form {
      position: absolute;
      width: 680px;
      height: 654px;
      padding: 15px 30px;
      justify-content: center;
    }

    &__field {
      margin-bottom: 30px;
    }

    &__label {
      margin-bottom: 15px;
    }

    &__input {
      width: 600px;
      height: 50px;

      font-size: 16px;
      padding-left: 30px;
    }

    &__textarea {
      width: 600px;
      height: 70px;
      font-size: 16px;
      padding: 15px 30px;
    }

    &__button {
      width: 600px;
      height: 58px;
    }
  }

  .faq {
    padding-top: 80px;
    //margin-bottom: 80px;

    &__header {
      margin-bottom: 60px;
    }

    &__list {
      margin-bottom: 60px;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 40px;
      width: 680px;
      height: 56px;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      width: 680px;
      height: 112px;
    }

    &__line {
      width: 920px;
      margin-bottom: 20px;
    }

    &__question {
      font-size: 20px;
      width: 800px;
      height: 28px;

      &:after {
        top: 0;
        right: -111px;
        content: '';
        background-image: url("src/images/icons/arrow-down-24px.svg");
        width: 24px;
        height: 24px;
      }
    }

    &__answer {
      font-size: 16px;
      width: 800px;
      height: 48px;
    }
  }

  .footer-top {
    padding: 80px 0 80px;
    flex-direction: column;

    &__item {
      display: flex;
      flex-direction: column;
      width: 201px;
    }

    &__company {
      margin-bottom: 80px;
    }

    &__slogan {
      font-size: 40px;
      width: 920px;
      height: 56px;
    }

    &__title {
      font-size: 20px;
      height: 28px;
      margin-bottom: 20px ;
    }

    &__list {
      padding-bottom: 10px;
    }

    &__link {
      font-size: 16px;
      height: 24px;
    }

    &__social-link {
      font-size: 16px;
      height: 24px;
      gap: 10px;

    }

    &__contacts {
      font-size: 16px;
      max-height: 72px;
      gap: 10px;
      padding-bottom: 10px;
      line-height: 24px;
    }
  }
}




@media (max-width: 768px) {

  .container {
    width: 768px;
  }

  .header {
    &__inner {
      padding : 20px 52px;
    }
  }

  .kitchen-intro {

    &__info-title {
      height: 120px;
      margin-bottom: 20px;
    }

    &__actions {
      display: flex;
      flex-direction: column;
    }

    &__info-description {
      margin-bottom: 40px;
    }
  }

}

@media (max-width: 360px) {

}