@import "normalize.css";
@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 20px 0;
  height: 80px;
  background-color: $background;
  align-items: center;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + .menu__list-item {
    padding-left: 40px;
  }

  &__list-link {
    color: $text;
    font-size: 16px;
    padding-bottom: 2px;
    border-radius: 1px;
    transition: all .2s;
    @extend %helveticaneuecyr-700;

    &:hover {
      color: $accent;
      border-bottom: 2px solid $accent;
    }
  }
}

.user-nav {
  &__link {
    display: inline-block;
    background-color: $accent;
    padding: 6px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: $text;
  }
}








.kitchen-intro {
  background-color: $background;
  padding: 100px 0;
  margin-bottom: 100px;
  display: flex;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__image-container {
    position: relative;
  }

  &__image-elips {
    position: absolute;
    bottom: 30px;
    left: -80px;
    z-index: 1;
  }

  &__info-title {
    @extend %firasans-700;
    font-size: 64px;
    line-height: 72px;
    width: 800px;
    height: 144px;
    margin-bottom: 30px;
  }

  &__info-description {
    margin-bottom: 60px;
    width: 660px;
    height: 96px;
  }

  &__actions {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
  }

  &__actions-btn {
    color: $text;
    font-weight: 700;
    border: 2px solid #252525;
    border-radius: 30px;
    padding: 15px 30px;
    display: inline-block;
    transition: all .2s;

    &:hover {
      background-color: $accent;
      border: none;
    }
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .stat {
    display: flex;
    margin-right: 100px;
    padding-bottom: 50px;
  }

  .stat__number {
    display: block;
    @extend %firasans-700;
    width: 100px;
    height: 56px;
    font-size: 40px;
    line-height: 56px;
  }

  .stat__text {
    display: block;
    width: 152px;
    height: 56px;
    font-size: 20px;
    line-height: 28px;
  }
}



  .interior {
    display: flex;
    flex-direction: column;

    &__inner {
      display: flex;
      justify-content: space-between;
    }

    &__images {
      display: flex;
      position: relative;
      margin-right: 140px;
    }

    &__image {
      position: absolute;
      z-index: 1;
      object-fit: cover;
    }

    &--large {
      z-index: 3;
      top: 0;
      left: 0;
    }

    &--medium {
      z-index: 2;
      right: 20px;
    }

    &--small {
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
    }

    &__pattern-points {
    z-index: 4;
    object-fit: cover;
    width: 174.545px;
    height: 160px;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }


    &__content {

    }

    &__title {
      width: 800px;
      height: 120px;
      font-size: 48px;
      @extend %firasans-700;
      line-height: 60px;
      margin-bottom: 30px;
    }

    &__text {

    }

    &__text--main {
      width: 800px;
      height: 96px;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 80px;
    }

    &__list {
      display: flex;
      margin-bottom: 80px;
    }

    &__list-items {
      width: 345px;
      height: 84px;
    }

    &__list-item {
    }

    &__button {
    }

    &__about-us {
    }

    &__arrow {
    }
  }




  .footer {
    background-color: $bg-footer;
  }

  .footer-top {
    padding: 100px 0 85px;
    border-bottom: 1px solid #3a3a3a;
    display: flex;

    &__company {
      width: 500px;
      height: 260px;
      margin-right: 180px;
    }

    &__contact-link {
      margin-bottom: 15px;
    }

    &__logo {
      display: block;
      margin-bottom: 30px;
    }

    &__slogan {
      color: #fff;
      line-height: 60px;
      font-size: 48px;
    }

    &__title {
      color: #fff;
      margin-bottom: 30px;
    }

    &__item {
      margin-bottom: 15px;
    }

    &__menu {
      width: 240px;
      margin-right: 40px;
    }

    &__list {
      padding-bottom: 50px;
    }

    &__social {
      width: 240px;
      margin-right: 40px;
    }

    &__social-link {
      margin-bottom: 15px;
      display: flex;
    }


    &__contact-link {
      max-width: 378px;
    }

    &__contacts {
      align-items: start;
      margin-bottom: 15px;
      display: flex;
      gap: 20px;
    }

    &__social-link {
      gap: 20px;
    }

    &__menu,
    &__social,
    &__contact {
      line-height: 28px;
      display: flex;
      flex-direction: column;
    }
  }

  .footer-bottom {
    height: 125px;
    color: var(--Kitchen_Grey---Light, #FFF);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;

    &__copy {
      font-weight: 700;
    }

    &__legal-link {
      margin: 0 20px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }

@import "media";